<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corey Klevan</title>

    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="container">
        <h1>Corey Klevan</h1>
        <h2>About Me</h2>
        <p>Hi my name is Corey Klevan I am a recent graduate from Arcadia University with a Bachloers of Science in Computer Science and a Bachloers of Arts in Data Science.</p>
        <p>Below are some links to check out!</p>
        <a href="https://www.linkedin.com/in/corey-klevan/" class="links">LinkedIn</a>
        <a href="https://github.com/coreyklevan" class="links">GitHub</a>
        <a href="/docs/ResumeCoreyKlevan.pdf" class="links">Resume</a>
    </div>
    <h2>Projects</h2>
    <div class="container">
        <!--list projects here-->
    </div>
</body>

</html>