<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corey Klevan</title>

</head>

<body>
    <div class="container">
        <h1>Corey Klevan</h1>
        <h2>About Me</h2>
        <p>Hi my name is Corey Klevan I am a recent graduate from Arcadia University with a Bachloers of Science in Computer Science and a Bachloers of Arts in Data Science.</p>
        <p>Below are some links to check out!</p>
        <a href="https://www.linkedin.com/in/corey-klevan/" class="links">LinkedIn</a>
        <a href="https://github.com/coreyklevan" class="links">GitHub</a>
        <a href="/docs/ResumeCoreyKlevan.pdf" class="links">Resume</a>
    </div>
    <h2>Projects</h2>
    <div class="container">
        <!--list projects here-->
    </div>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    h1 {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    a:hover {
        color: red;
        text-decoration: none;
    }
    
    a:visited {
        color: purple;
    }
    
    a:link {
        color: blue;
        text-decoration: none;
        text-align: center;
        margin: 10px;
    }
</style>

</html>